/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
*{font-family: 'Josefin Sans', sans-serif;}
nav ul a,
nav .brand-logo {
  color: #444;
}
.white_space {
  margin-top: 50px;
}
.heading_bottom {
  border-bottom: 3px solid #2196f3;
  margin-bottom: 30px;
}
.heading_bottom_second {
  border-bottom: 3px solid #fff;
  margin-bottom: 30px;
}

.graphic_section img {
  margin-bottom: 20px;
}
.heading_design {
  padding: 8px;
}
.social_media li{
  display: inline;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}
#index-banner {
  min-height: 500px!important;
}
.about_section .profile_img {
    width: 300px;
    height: 310px;
    background-image: url(../img/official.jpeg);
    z-index: 9999999999;
    display: block;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card.horizontal .card-image img{
  width: 100px;
  margin-left: 15px;
}
#more , #waste , #remain{
  display: none;
}
.img_section {
  text-align: center;
}
.comas {
  font-size: 36px;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    z-index: 99
}

  .PSD{height: 300px;overflow: hidden; margin-bottom: 20px;border-bottom:1px solid #eaeaea;}
.PSD img {
  border:1px solid #eaeaea;
}
.adobe {
  display: inline-block;
}
.overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%; background-color: rgba(65,65,150,0.7);}

.page-footer {margin-top: 50px;}

  .banner_img {background-color: rgba(33, 150, 243, 0.9);}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.designation {
  border-bottom:2px solid #fff;
  padding: 5px;
}

#overlayer {
  width:100%;
  height:100%;  
  position:absolute;
  z-index:999;
  background:#4a4a4a;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index:9999;
  border: 4px solid #Fff;
  top: 50%;
  left: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}